www.{{ woomy_domain }} {{ woomy_domain }} {
    import common
    handle {
        root * {{ static_path }}/{{ woomy_domain }}
        file_server
    }
    handle_path /.well-known/* {
        root * {{ static_path }}/well-known
        header "Access-Control-Allow-Origin" "*"
        file_server
    }
}

files.{{ woomy_domain }} www.files.{{ woomy_domain }} {
    import common
    handle {
        root * {{ static_path }}/files
        file_server browse
    }
}
